/* Embedded SVGs from sprites.svg */

.svgcon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  font-size: inherit;
  color: inherit;
  vertical-align: middle;
  position: center;
}

.svg-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.svg-container-small {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.svg-2x { width:2rem; height:2rem; }
.svg-3x { width:2rem; height:2rem; }
