html { scroll-behavior: smooth;}


@media screen and (max-width: 1023px) {
  /* make navbar-menu open on top of content     */
  .navbar-menu { left:0; right:0; top:100%; position: absolute; opacity: 90%;}

  .navbar-item { opacity: 100%; }
  
  /* show mavbar-menu on screen less than 1024px */
  #menu-toggle:checked ~ .navbar-menu { display: block; }

  /* make navbar-burger become cross on screen less than 1024px */
  #menu-toggle:checked ~ .navbar-brand > label > span:nth-child(1) { transform: translateY(5px) rotate(45deg); }
  #menu-toggle:checked ~ .navbar-brand > label > span:nth-child(2) { opacity: 0; }
  #menu-toggle:checked ~ .navbar-brand > label > span:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
}